{% extends "base.html" %}

{% load static %}

{% block javascript %}
<script src={% static 'js/show_album.js' %} defer></script>
{% endblock javascript %}

{% block content %}

<h3>Album Detail</h3>

<a href={% url 'list_albums' %}>Back to all albums</a>
<div class="ma5 pa2 f6 lh-copy ba b--light-silver br2 measure-narrow">
  <p class="album_title f3 fw6 db black">{{ album.title }}</p>
  <p class="ml5 f5 gray">{{ album.artist_name }}</p>
  <a href={% url "favorite_album" pk=album.pk %} class="fav-link db" data-favorited={{favorited}}>
    <i class="{% if favorited %} fas {% else %} far {% endif %} fa-heart hot-pink f3"></i>
  </a>
  {% for genre in genres %}
    <p class="f7 link br-pill ba bw1 ph2 pv1 mb2 dib white bg-dark-pink">{{genre}}</p>
  {% endfor %}
</div>

{% endblock content %}

